<div class="container box-cart">
    <h1>Cart</h1>
    <ng-template #elseCartEmpty>
        <div class="boxAllCart">
            <h4 class="ml-lg-5 mt-5 ml-md-0 text-lg-left text-center">Your cart is empty.</h4>
            <a class="btn btn-primary ml-lg-5 mt-3 ml-0 text-center goToShop d-block mx-auto" routerLink="/allshop" role="button">CONTINUE SHOPPING</a>
        </div>
    </ng-template>
    <div class="row justify-content-between mt-3">
        <div class="col-lg-7 pr-5 boxAllCart">
            <div class="row cardItem">
                <div class="col-lg-4 col-md-5 col-5">
                    <img src="https://sg-live-01.slatic.net/p/ce52af8f0a97a5d692cd249daa004779.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                </div>
                <div class="col-lg-5 col-md-4 col-7">
                    <p class="name">
                        <!-- Tên sản phẩm -->
                        Áo sơ mi
                    </p>
                    <div class="row align-items-center ml-0 mt-2 position-relative">
                        <span class="span mr-2">Quantity:  </span>
                        <div class="boxQuantity row align-items-center">
                            <span class="useQuantity reduceBut">-</span>
                            <span class="quantityInp" id="quantityInp" type="text">
                                <!-- số lượng sản phẩm -->
                                2
                            </span>
                            <span class="useQuantity">+</span>
                        </div>
                        <span class="mt-2 remove">Remove</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="position-relative">
                        <p class="price">
                            $12
                            <!-- giá sản phẩm -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="payment">
                <h3>Order Summary</h3>
                <div class="row">
                    <div class="col-5">
                        <p>Shipping</p>
                        <p>Sales Tax </p>
                        <h4>Subtotal</h4>
                    </div>
                    <div class="col-7">
                        <p class="text-right">Calculated at checkout</p>
                        <p class="text-right">Calculated at checkout</p>
                        <h4 class="text-right">
                            $12 Tổng
                            <!-- tổng số tiền  -->
                        </h4>
                    </div>
                </div>
                <a class="btn btn-primary text-light checkout" role="button" data-toggle="modal" data-target="#modelId">CHECKOUT</a>
            </div>
        </div>
        <div class="paidMobile">
            <a class="btn btn-primary text-light checkout checkoutButMobile" role="button" data-toggle="modal" data-target="#modelId">CHECKOUT</a>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade modalBox" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog max-width-0" role="document">
        <div class="modal-content modalCustom">
            <form [formGroup]="formGroup">
                <div class="modal-header d-block">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                    <h2 class="text-center ml-4 mt-2">Shipping</h2>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="formGroup">
                                <label for="">Name</label>
                                <input type="text" formControlName="name">
                                <div class="errorSpan" *ngIf="form.name.invalid && (form.name.dirty || form.name.touched)" required>
                                    <div class="" *ngIf="form.name.errors?.['required']">
                                        <span class="text-danger font-italic ">*Please enter the name of the consignee</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="formGroup">
                                <label for="">Email</label>
                                <input type="text" formControlName="email">
                                <div class="errorSpan" *ngIf="form.email.invalid && (form.email.dirty || form.email.touched)" required>
                                    <div class="" *ngIf="form.email.errors?.['required']">
                                        <span class="text-danger font-italic ">*Please enter the email of the consignee</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="formGroup">
                                <label for="">Address</label>
                                <input type="text" formControlName="address">
                                <div class="errorSpan" *ngIf="form.address.invalid && (form.address.dirty || form.address.touched)" required>
                                    <div class="" *ngIf="form.address.errors?.['required']">
                                        <span class="text-danger font-italic ">*Please enter the address of the consignee</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="formGroup">
                                <label for="">Telephone Number</label>
                                <input type="text" formControlName="phone">
                                <div class="errorSpan" *ngIf="form.phone.invalid && (form.phone.dirty || form.phone.touched)" required>
                                    <div class="" *ngIf="form.phone.errors?.['required']">
                                        <span class="text-danger font-italic ">*Please enter the Telephone number of the consignee</span>
                                    </div>
                                    <div class="" *ngIf="form.phone.errors?.['pattern']">
                                        <span class="text-danger font-italic ">*Please enter a valid telephone number</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="row">
                                <div class="col-6">
                                    <div class="formGroup">
                                        <h4 class="ml-3 mt-2">Subtotal: <span class="h4span"></span></h4>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="formGroup">
                                        <h4 class="ml-3 mt-2">Date: <span class="h4span">{{dateBuy}}</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer d-block">
                    <div class="ml-4 mt-2">
                        <h2 class="text-center">Billing</h2>
                        <div class="boxBilling">
                            <div class="d-flex align-items-center ml-0 mt-2">
                                <input type="checkbox" id="checkbox" (change)="checkBilling()"><label for="checkbox" class="labelCheckbox">Billing address is the same as shipping</label>
                            </div>
                        </div>
                        <button type="submit" data-dismiss="modal" class="btn btn-primary text-light checkout checkoutModal mt-3 mb-4" [disabled]="!billingCheckbox || form.name.invalid || form.address.invalid || form.email.invalid || form.phone.invalid" role="button">CHECKOUT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>